
<div class="playlist-info"> 
	<div class="share-playlist">
		<span>Share on:</span>
		<a href="" class="fb facebook-share-playlist"><i class="fa fa-facebook"></i></a>
		<a href="http://twitter.com/share?text={{models.0.snippet.title}}" class="tw twitter-share-playlist"><i class="fa fa-twitter"></i></a>
		<a href="" class="gplus google-share-playlist"><i class="fa fa-google-plus"></i></a>
	</div>
	<div class="playlist-image">
		<span class="image-radius"></span> 
		<img src="{{models.0.snippet.thumbnails.high.url}}"> 
	</div>
	<div class="add-to-favourites add-btn" data-name="{{models.0.snippet.title}}" data-id="{{models.0.id}}" data-image="{{models.0.snippet.thumbnails.default.url}}" data-station="{{this.params.station}}">
		Add to My Stations 
		<i><img src="images/radio-icon.png"></i>
	</div> 	
	<div class="title">
		<h1> {{models.0.snippet.title}}</h1>
		<div class="playilist-length"> 
			Tracks: 
			<span> </span> 
		</div>  
		<span></span>
	</div>
	
</div>