<div class="col-md-7  title">
    <div class="close-search "><i class="fa fa-times"></i></div>
    Search Results   
    <span> ({{models.length}}) Playlists</span>
    <div class="search-value"></div>
</div>
<div class="my-playlist-tracks" id="youtube-playlist">
    {{#each models}} 
    <div data-id="{{id.playlistId}}" class="show"> 
        <img src="{{snippet.thumbnails.medium.url}}">
        <div class="col-md-9 track-name">{{snippet.title}}</div>   
        <div class="col-md-3 track-actions"> 
          <span class="play-track" data-id="{{id.videoId}}"> 
            <i class="fa fa-play-circle-o"></i>
          </span>  
        </div>   
    </div> 
{{/each}}
</div>

